<center>
    <br>
    <img src="{{image}}" alt="404 Joke" id="dipper">
    <br><br>
    <span class="title is-3">The page you were looking for was not found.</span><br><br>
    <span class="title is-3">Go <a href="/" style="color:grey;">bacc</a>.</span>
</center>